/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


/* ********************  BASE  ******************** */
@layer base {

    @font-face {
      /* providing various font file formats to ensure cross-browser compatibility */
      font-family: "firma";
      src: url('../../src/assets/fonts/br-firma/BRFirmaCW-Light.eot'); /* IE9 Compat Modes */
      src: url('../../src/assets/fonts/br-firma/BRFirmaCW-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../../src/assets/fonts/br-firma/BRFirmaCW-Light.woff2') format('woff2'), /* Super Modern Browsers */
          url('../../src/assets/fonts/br-firma/BRFirmaCW-Light.woff') format('woff'), /* Pretty Modern Browsers */
          url('../../src/assets/fonts/br-firma/BRFirmaCW-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('../../src/assets/fonts/br-firma/BRFirmaCW-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
          /* url('/src/assets/fonts/br-firma/BRFirmaCW-Light.svg#firma') format('svg'); Legacy iOS */
      font-weight: 200;
      font-display: swap;
      font-style: normal;
    }   

    @font-face {
      font-family: "firma";
      src: url('../../src/assets/fonts/br-firma/BRFirmaCW-Regular.eot'); /* IE9 Compat Modes */
      src: url('../../src/assets/fonts/br-firma/BRFirmaCW-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../../src/assets/fonts/br-firma/BRFirmaCW-Regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../../src/assets/fonts/br-firma/BRFirmaCW-Regular.woff') format('woff'), /* Pretty Modern Browsers */
          url('../../src/assets/fonts/br-firma/BRFirmaCW-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('../../src/assets/fonts/br-firma/BRFirmaCW-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: "firma";
        src: url('../../src/assets/fonts/br-firma/BRFirmaCW-Medium.eot'); /* IE9 Compat Modes */
        src: url('../../src/assets/fonts/br-firma/BRFirmaCW-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../src/assets/fonts/br-firma/BRFirmaCW-Medium.woff2') format('woff2'), /* Super Modern Browsers */
            url('../../src/assets/fonts/br-firma/BRFirmaCW-Medium.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../src/assets/fonts/br-firma/BRFirmaCW-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../src/assets/fonts/br-firma/BRFirmaCW-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
        font-weight: 500;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: "firma";
        src: url('../../src/assets/fonts/br-firma/BRFirmaCW-SemiBold.eot'); /* IE9 Compat Modes */
        src: url('../../src/assets/fonts/br-firma/BRFirmaCW-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../src/assets/fonts/br-firma/BRFirmaCW-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
            url('../../src/assets/fonts/br-firma/BRFirmaCW-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../src/assets/fonts/br-firma/BRFirmaCW-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../src/assets/fonts/br-firma/BRFirmaCW-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
        font-weight: 600;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: "firma";
        src: url("../../src/assets/fonts/br-firma/BRFirmaCW-Bold.eot"); /* IE9 Compat Modes */
        src: url('../../src/assets/fonts/br-firma/BRFirmaCW-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../src/assets/fonts/br-firma/BRFirmaCW-Bold.woff2') format('woff2'), /* Super Modern Browsers */
            url('../../src/assets/fonts/br-firma/BRFirmaCW-Bold.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../src/assets/fonts/br-firma/BRFirmaCW-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../src/assets/fonts/br-firma/BRFirmaCW-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
        font-weight: 700;
        font-display: swap;
        font-style: normal;
    }
    
    :root {
      --before-bg-color: rgba(24, 26, 27, 0.3);
      --after-bg-color: rgba(24, 26, 27, 0.3);

      --color-dark-blue: rgb(8, 37, 82);
      --color-light-blue: rgb(0, 102, 245);
      --color-lighter-gray: rgb(108, 130, 163);  
      --color-lightest-gray: rgb(174, 185, 204);
      --admin-thead-bg-color: rgba(249, 250, 251, 1);
      
      --sw-gray: hsla(0, 0%, 100%, 0.3);
      --sw-dark-blue: rgba(24, 26, 27, 0.3);

      --color-opacity: hsla(0,0%,100%,.7);

      --background-sky-blue: rgb(230, 250, 255);     /*   TopBar BackgroundColor   */
      --background-transparent-blue: hsla(0,0%,100%,.25);
      --bg-light-blue: rgba(0, 82, 196, 0.2);              /*   Section Six DarkMode   */
      --bg-dark-blue: rgb(6, 6, 73);
      --bg-dark-brown: rgb(73 34 0);        /*    Section 1 Backdrop   */

      --root-font-size: 14px;
      --root-line-height: 1.15;
      /* --root-font-family: sans-serif; */
      --root-font-family: Arial, Helvetica, sans-serif;
      --root-max-width: 1380px;
      --font-family-firma: "firma";

      --signup-bg-color: linear-gradient(45deg, #0F468B  0%, #FEDC65  33%, #BD15B4  66%, #0D8CD2 100%);
      /* --signup-box-bg-color: rgb(0, 30, 60); */
      --signup-box-bg-color: rgb(253 253 253);

      /* LOGIN COLORS:-  Color mode HSL(hue, saturation, lightness) */
      --login-white-color: hsl(0, 0%, 100%);
      --login-black-color: hsl(0, 0%, 0%);
      --login-bg-black-color: rgb(30, 33, 88);

      /* LOGIN FONT AND TYPOGRAPHY */
      /* .5rem = 8px | 1rem = 16px ... */
      /* --login-body-font: "Poppins", sans-serif; */
      --login-h1-font-size: 2rem;
      --login-normal-font-size: 1rem;
      --login-small-font-size: 0.813rem;

      --admin-staff-details-nav: rgba(69, 90, 100, .08);
      --dim-gray: rgba(239, 240, 244, 1);


      --admin-total-revenue-card-1: rgba(18, 169, 10, 1);
      --admin-total-revenue-card-2: rgb(124, 64, 135, 1);
      --admin-total-revenue-card-3: rgba(8, 78, 187, 1);
    }
  
    *, html {
      font-size: var(--root-font-size);
      font-family: var(--root-font-family);
      line-height: var(--root-line-height);
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      scroll-behavior: smooth;
    }
    
    h1,h2,h3,h4,h5,h6,li,p,a,blockquote {
      color: var(--color-dark-blue);
      font-family: var(--font-family-firma);
    }

    sub, sup {
      line-height: 0;
    }

    .container {
      max-width: var(--root-max-width) !important;
    }

    input[type="text"], input[type="email"], input[type="password"] {
      line-height: var(--root-line-height);
      width: 100%; 
      background-color: transparent;
      border-radius: 5px;
      padding: 10px 15px;
      outline: none;
      /* font-size: 15px; */
      word-spacing: 0.05em;
      letter-spacing: .12rem;
      appearance: auto;
      border: 0.3px solid lightgray;
    }

    input[type="text"]:hover, input[type="text"]:focus, 
    input[type="email"]:hover, input[type="email"]:focus,
    input[type="password"]:hover, input[type="password"]:focus {
        background-color: white;
        color: black;   
    }

    /* :disabled {
      font-size: 1.2rem !important;
      font-weight: 500 !important;
      letter-spacing: 0.05em !important;
      padding: 0 !important;
      height: 1.6rem !important;
      line-height: 1.55 !important;
      align-items: center !important;
    } */

    tr {
      text-align: justify;
    }

    thead {
      @apply
        /* bg-blue-900 */
        /* bg-skin-admin-thead-bg */
        text-black
        text-10xl
        font-black
        table-header-group
        tracking-extratight
        h-16
      ;
    }
    
    tbody tr {
      @apply
        h-16
        border-b
      ;
    };
};


@layer components {



  .progressBar {
    appearance: none;
    height: 8px;
    border-radius: 100px;
      
    /* Chrome and Safari */
    &::-webkit-progress-bar {
      background: rgba(228, 228, 231, 1);
      border-radius: 100px;
    }
  
    &::-webkit-progress-value {
      background-color: orange;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
  
    /* Firefox */
    &::-moz-progress-bar {
      background-color: orange;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
  }

  /* ********************  LOGIN  ******************** */
  /* .widget-visible {
    background-color: #1403a8 !important;
  } */

  /* #blogSinglePost .tox .tox-statusbar__right-container .tox:not([dir=rtl]) .tox-statusbar__branding {
    @apply
      hidden
      !important
    ;
  }; */

  /* #blogSinglePost .tox .tox-statusbar__right-container  .tox:not([dir=rtl]) .tox-statusbar__branding a {
    @apply
      hidden
      !important
    ;
  }; */

  .login__form {
    position: relative;
    background-color: hsla(0, 0%, 100%, .01);
    border: 2px solid hsla(0, 0%, 100%, .7);
    padding: 2.5rem 1rem;
    color: var(--login-white-color);
    border-radius: 1rem;
    backdrop-filter: blur(16px);
    width: 34rem;
    margin: 0 auto;
  }

  .login__title {
    text-align: center;
    font-size: var(--login-h1-font-size);
    margin-bottom: 1.25rem;
  }

  .login__inputs, .login__box {
    display: grid;
  }

  .login__inputs {
    row-gap: 1.25rem;
    margin-bottom: 1rem;
  }

  .login__box {
    grid-template-columns: 1fr max-content;
    column-gap: .75rem;
    align-items: center;
    border: 2px solid hsla(0, 0%, 100%, .7);
    padding-inline: 1.25rem;
    border-radius: 4rem;
    color: black;
    /* background-color: #e8f0fe; */
    background-color: none;
  }

  .login__input, .login__button {
    border: none;
    outline: none;
  }

  .login__input {
    width: 100%;
    background: none;
    color: var(--login-white-color);
    padding-block: 1rem;
  }
  .login__box .login__input {
    background-color: unset;
  }

  .login__input::placeholder {
    color: var(--login-white-color);
  }

  .login__box i {
    font-size: 1.25rem;
  }

  .login__check, 
  .login__check-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .login__check {
    margin-bottom: 1rem;
    font-size: var(--login-small-font-size);
  }

  .login__check-box {
    column-gap: .5rem;
  }

  .login__check-input {
    width: 1rem;
    height: 1rem;
    accent-color: var(--login-white-color);
  }

  .login__forgot {
    color: var(--login-white-color);
  }

  .login__forgot:hover {
    text-decoration: underline;
  }

  .login__button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--login-white-color);
    border-radius: 4rem;
    color: var(--login-black-color);
    font-weight: 500;
    cursor: pointer;
  }

  .login__register {
    font-size: var(--login-small-font-size);
    text-align: center;
  }

  .login__register a {
    /* color: var(--login-white-color); */
    font-weight: 600;
  }

  .login__register a:hover {
    text-decoration: underline;
  }

  /* .rendered-output {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
  } */
 
  #user-socials a svg {
    @apply 
      h-full
      w-full
    ;
  };

  #blogSinglePost section h3 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }

  #blogSinglePost section h4 {
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }

  main#blogSinglePost section .rendered-output h2 {
    @apply 
       text-3xl/tight sm:text-4xl
      font-black
      mb-2
    ;
  }

  main#blogSinglePost section .rendered-output p {
      @apply
        text-14xl/loose sm:text-2xl/loose
        mt-2
        mb-10
        w-full
      ;
  }

  main#blogSinglePost section .rendered-output p img {          
      @apply         
          /* w-11/12 */
          w-full
          /* h-125     */
          min-h-116
          m-auto
      ;
  }
  
  main#blogSinglePost section .rendered-output ul {
      display: ruby;
  }

  main#blogSinglePost section .rendered-output ul li {
      list-style: initial;
  }

  main#blogSinglePost section .rendered-output ul li::marker {
      font-size: 2rem;
  }

  main#blogSinglePost section .rendered-output ul li strong {
      font-size: 1.6rem;
  }


  #singlePostWrapper #header, 
  #blogPostsWrapper #header {
    @apply
      shadow-7xl
    ;
  }  

  .sales-stats--wrap .sales_stats {
    @apply
      flex-col 
      justify-start
      gap-6
      pl-10 
      w-4/5
    ;
  }

  .sales-stats--wrap .sales_direction {
    @apply
      flex-col
      justify-center
      gap-2
      w-1/5
    ;
  }

  .sales-stats--wrap .sales_stats p {
    @apply
      text-base 
      font-black 
      tracking-verytight 
      mt-7
      mb-0
      text-white
    ;
  }

  .sales-stats--wrap .sales_stats strong {
    @apply
      text-2xl
      font-medium
      text-white
    ;
  }

  .sales-stats--wrap .sales_stats strong:first-of-type {
    @apply
      lg:font-semibold
      lg:text-2xl
      lg:tracking-moretight
      xl:text-3xl
      xl:tracking-verytight
    ;
  }
  
  .sales-stats--wrap .sales_stats strong span {
    @apply
      text-3xl
      font-medium
      text-white
    ;
  }

  .sales-stats--wrap .sales_direction svg {
    @apply
      h-full
      w-10
    ;
  }

  .sales-stats--wrap .sales_direction svg.sales-increase,
  .sales-stats--wrap .sales_direction svg.sales-decrease {
    @apply
      max-h-12
    ;
  }

  .sales-stats--wrap .sales_direction svg.sales-decrease {
    @apply
      animate-pulse
    ;
  }

  #homeTopBarID::before {
    content: '';
    position: absolute;
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 5% 100%);
    /* width: 124rem; */
    width: 89%;
    height: 3.6rem;
    right: 0;
    top: 0;
    background: var(--bg-dark-blue);
    z-index: -1;
  }

  #homeTopBarID div {
    @apply 
      h-full 
      hidden
      xl:flex 
      items-center
      h-80
    ;
  }

  #homeTopBarID .social--icons a {
    @apply 
      flex
      h-full
      w-7
    ;
  }

  #homeTopBarID .social--icons a svg {
    @apply
      h-full
      w-full
      fill-white
    ;
  }

  #homeHeader, 
  #header {
    @apply 
    bg-white
      h-114.5
      /* shadow-sm  */
      /* lg:h-28 */
      /***** Just Added these *****/
      lg:h-32
      relative
      top-0
    ;
  }

  #homeHeader .container,
  #header .container,
  #blogPostsID .container,
  #donationsListID .container { 
    @apply h-full w-full my-0 mx-auto px-12 sm:px-24
  }

  /* #blogPostsID .container {
    @apply h-full w-full my-0 mx-auto px-12 sm:px-24
  } */

  #header .cta-menu a {
    @apply 
    text-slate-900 
    text-2xl 
    font-bold 
    shrink-0
    capitalize
  }
  #homeHeader .cta-menu a {
    @apply 
    text-slate-800
    text-14xl 
    font-semibold 
    shrink-0
    capitalize
  }

  #header .cta-menu a:last-child {
    @apply 
      text-2xl 
      px-12 
      py-6
      rounded-full
    text-white 
    bg-red-600 

    hover:bg-red-700 
    focus:bg-red-700 
      
    hover:ring-red-300 
    focus:ring-red-300 

      hover:ring-2 
      focus:ring-2

      ease-in-out
      duration-300 
      /* visited:ring-4 
    visited:ring-red-400 
      */
    ;
  }
  #homeHeader .cta-menu a:last-child {
    @apply 
      text-2xl 
      px-12 
      py-6
      rounded-full
    text-white 
    bg-red-600 

    hover:bg-red-700 
    focus:bg-red-700 
      
    hover:ring-red-300 
    focus:ring-red-300 

      hover:ring-2 
      focus:ring-2

      ease-in-out
      duration-300 
      /* visited:ring-4 
    visited:ring-red-400 
      */
    ;
  }

  #header .brand,
  #homeHeader .brand {
    @apply flex 
  }

  #header .brand-white,
  #homeHeader .brand-white {
    @apply 
      hidden
    ;
  }
  
  #header.sticky-header .brand,
  #homeHeader.sticky-header .brand {
    @apply hidden sm:block
  }

  #header.sticky-header .brand-white,
  #homeHeader.sticky-header .brand-white {
    @apply block sm:hidden
  }

  .brand img {
    @apply 
      /* w-52.5  */
      max-w-52
      xs:max-w-60
    ;
  }

  .brand-white img {
    @apply 
      /* w-52.5  */
      max-w-52
      xs:max-w-60
    ;
  }

  .social-icons {
    @apply flex space-x-5
  }

  .social-icons svg {
    @apply w-56 h-20
  }

  .content p {
    @apply text-center text-15xl/more-loose text-skin-gray font-firma mt-12 mx-auto sm:max-w-full lg:max-w-65/12
  }

 





  /**************************************************************************/
  /*************************    Mobile Nav Config   *************************/
  /**************************************************************************/
  .mobile-nav {
    @apply 
      flex 
      xs:flex 
      lg:hidden 
      relative
  }

  .mobile-nav .hamburger {
    @apply 
        w-10      
        absolute
        -top-12
        right-2
        xs:w-10
    ;
  }

  .mobile-nav .hamburger span::before {
    @apply 
      content-beforeContent 
      bg-skin-before-hamburger
      bg-black
      sm:bg-black 
      w-10
      h-1 
      absolute 
      top-11
    ;
  }

  .mobile-nav .hamburger span::after {
    @apply
      content-afterContent 
      bg-skin-after-hamburger
      bg-black
      sm:bg-black
      w-10 
      h-100 
      absolute 
      top-14
    ;
  }
  /**************************************************************************/
  /*************************    Mobile Nav Config   *************************/
  /**************************************************************************/







  
  /**************************************************************************/
  /************************* CUSTOM / Animations CSS ************************/
  /**************************************************************************/
  .sticky-header {
    @apply 
      fixed 
      top-0
      z-50 
      h-32
      w-full 
      animate-slideDown 
      shadow-sm 
      /* bg-blue-600 */
      bg-white
      sm:bg-white 
      !important
    ;
  }
  .no-scrollbar {    
    @apply 
      overflow-x-hidden 
      overflow-y-scroll
    ;
  }
  .s-1-anim {       /** Working for Section One **/
    @apply 
      animate-easeIn
    ;
  }
  .s-1-animate {    /** Working for Section One when ActiveImage changes **/
    @apply 
      animate-slideDownSlow
    ;
  }
  .s-2-l2-anim {
    @apply animate-slideRight
  }
  .s-2-ls-anim {
    @apply 
      animate-slideUpSpan 
    ;
  }
  .s-2-l5-animreverse {
    @apply 
      animate-slideLeft
    ;
  }
  .s-2-rc-1 {
    @apply 
      animate-slideDown;
    ;
  }
  .s-2-rc-2 {
    @apply 
      animate-slideDown
    ;
  }
  .s-2-rc-3 {
    @apply 
      animate-slideDown
    ;
  }
  .s-4-anim {
    @apply animate-fadeOut
  }
  .s-5-anim {
    @apply
      animate-scaleOutSmall
    ;
  }
  .s-5-anime {
    @apply
      animate-scaleOutBig
    ;
  }
  .ease-out-anim {      /** Working for Section Three */
    @apply 
      animate-easeOut
      opacity-0
    ;
  }
  .ease-out-anime {     /** Working for Section Two */
    @apply 
      animate-easeInn
    ;
  }
  .ease-in-anim {
    @apply 
      animate-easeInComplete
    ;
  }
  .active {
    @apply animate-lineDropdown
  }
  .activate-first {     /** Working for Section Seven */
    @apply animate-slideUpFirst
  }
  .activate-second {    /** Working for Section Seven */
    @apply animate-slideUpSecond
  }
  .activeStaffView,
  .activeUserView,
  .activePostView,
  .activeDonationView {    /** Working for Selecting Active Nav-menu Link for Dashboard */
    @apply
      bg-blue-900
      text-white
      font-semibold
      !important
    ;
  }
  progress#file {
    width: -webkit-fill-available;
    background-color: antiquewhite !important;
    fill: white;
    height: 100%;
  }

  .jumbu {
    height: 0.2rem;
  }

  
  /*****  Error Message CSS  *****/
  .success, .error, 
  .signup_error, .signup_success,
  .verify_error, .verify_success,
  .reverify_error, .reverify_success,
  .create_error, .create_success {
    @apply
      hidden      
    ;
  }
  .success-message-info {
    @apply
    bg-green-600
      rounded-2xl
      /* w-123 */
      min-w-96
      /* p-6 */
      py-3
      px-3
      mt-6
      mx-auto
      flex
      justify-center
      text-center      
    text-white
      text-2xl/normal
      font-semibold
    ;
  }
  .error-message-info {
    @apply
      bg-red-600
      rounded-2xl
      w-123
      /* min-w-96 */
      p-6 
      mb-12
      flex
      justify-center
      text-center
      text-white
      text-2xl/normal
      font-semibold
    ;
  }
  /*****  Error Message CSS  *****/
  /**************************************************************************/
  /***************************** Animations CSS *****************************/
  /**************************************************************************/
  




  /* #signUpID .content-wrapper {
    @apply
      min-h-121.5
    ;
  } */
  #signUp, 
  #signUpVerification, 
  #reverifySignUp {
    @apply
      flex
      flex-col
      items-center
      w-123
      m-auto
      gap-y-16
      rounded-2xl 
      border 
      border-slate-200 
      shadow-md
    ;
  }
  
  #signUp .form--title h5, 
  #signUpVerification .form--title h5, 
  #reverifySignUp .form--title h5 {
    @apply
      text-3xl
      font-semibold
    ;
  }
  
  #signUp .form--wrapper, 
  #signUpVerification .form--wrapper,
  #reverifySignUp .form--wrapper {
    @apply
      w-full 
      flex
      flex-col

    ;
  }

  #signUpID img {
    @apply
      w-72
      h-36
      mx-auto
      mb-2
  }
  
  
  
  

  .cta-menu a {
    @apply hidden lg:inline-flex lg:justify-end lg:items-center; 
  }

  .nav-links {
     @apply hidden w-full lg:inline-flex lg:justify-center lg:space-x-20 lg:cursor-pointer lg:z-10 lg:items-center;
  }
  
  .has-dropdown {
    @apply    
      py-10
    ;
  }

  .menu-item .nav-dropdown {
    @apply 
      w-max 
      absolute 
      top-19 
      bg-white  
      pt-12 
      px-12 
      pb-10 
      shadow-sm 
      border 
      border-slate-200 
      rounded-xl
      animate-dropdown
    ;
  }

  .menu-item p {
    @apply relative text-2xl font-normal text-slate-500
  }

  .menu-item p::after {
    @apply content-[''] h-6 w-6 ml-1 absolute top-21 text-slate-800/50 ;
    /* bg-dropdown-icon */
  }  

  .nav-dropdown-item svg {
    @apply w-20 h-20
  }

  .nav-dropdown-item div span {
    @apply text-start text-3xl/more-loose font-semibold
  }

  .nav-dropdown-item p {
    @apply text-15xl font-normal
  }

  .nav-dropdown-item p::after {
    @apply bg-none
  }

  .nav-dropdown-item a {
    @apply text-15xl text-skin-gray
  }

  .nav-dropdown-item li {
    @apply leading-extra-loose
  }

  .nav-dropdown--right h6 {
    @apply text-14xl/more-loose font-semibold mb-6 text-start
  }





.staff__table, 
.users__table {
  @apply
    border-collapse
  ;
}


.right-bottom-pane div:first-of-type a {
  @apply
    border
    shadow-md
    px-6 
    py-3 
    bg-white
    text-2xl
    rounded-md
  ;
}

.admin__dashboard {
  @apply
    h-screen
    w-full
  ;
}

#adminDashboardID, 
#dashboardUsersID, 
#dashboardUsersDetailsID {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
}

#adminDashboardID .admin-container {
      @apply 
        px-0 
        w-full 
        h-full
      ;
  }
  #adminDashboardID .admin-container .left-pane {
      @apply 
        /* w-1/4 */
        w-full
      ;
  }
  #adminDashboardID .admin-container .right-pane {
      @apply 
        /* w-3/4 */
        w-full
      ;
  }
  .dropdown-toggle,
  .dropdown-toggle span,
  .no-dropdown,
  .no-dropdown span {
    @apply
      w-full 
      flex 
      items-center 
      text-2xl 
      tracking-moretight 
      font-medium 
      capitalize 
      text-white 
      hover:text-slate-300 
      focus:text-slate-300 
      gap-6
    ;
  }
  .dropdown-toggle svg, 
  .no-dropdown svg {
    @apply
      w-12
      h-12
      text-white
    ;
  }
  .usersDropdown a,
  .staffsDropdown a {
    @apply
      text-xl tracking-moretight font-medium capitalize text-white hover:text-slate-300
    ;
  }
  .userProfileImgDropdown button {
    @apply
      text-xl tracking-moretight font-medium capitalize text-black hover:text-black
    ;
  }
  .right-top-pane .rt-left-pane h1 {
    @apply
      text-4xl
      font-normal
      font-firma
      text-slate-500
    ;
  }
  .right-top-pane .rt-right-pane .user-info {
    @apply
      flex
      flex-col
      gap-2
    ;
  }
  .right-top-pane .rt-right-pane .user-info h4 {
    @apply
      text-31xl
      -tracking-tightened
      font-black
      font-firma
    ;
  }
  .right-top-pane .rt-right-pane .user-info h6 span {
    @apply
      lowercase
      text-14xl
      font-medium
      font-firma
      tracking-supertight
    ;
  }
  .right-top-pane .rt-right-pane .user-profile-img {
    @apply
      w-20
      flex
      justify-start
      relative
    ;
  }
  .right-top-pane .rt-right-pane .user-profile-img img {
    @apply
      rounded-full
    ;
  }






  /* Section One */
  .home-section-one {
    @apply py-20 px-0 w-full h-full
  }

  .h-container-1 {
    @apply w-full px-8 my-0 mx-auto
  }

  .home-section-one--right {
    @apply pt-12 sm:pt-0 lg:pt-24 
  }

  .home-section-one--right .social-icons {
    @apply flex space-x-3 xs:hidden
  }

  .home-section-one--left {
    @apply 
      relative 
      mt-0 
      ml-0 
      min-h-125 

      xs:min-h-116 

      sm:mt-12 
      sm:ml-12 
    
      lg:min-h-125
    ; 
  }
  .s1-grids-wrap {
    @apply 
      flex 
      flex-col-reverse 
      gap-y-12 
      
      sm:py-12 
      sm:px-0

      lg:grid 
      lg:grid-cols-16
      lg:gap-x-32 
      lg:gap-y-0
      lg:py-32
    ;
  }



  .home-section-one--left #testimonialId {
    @apply 
    relative 
    top-0 
    left-0 
    min-h-125 
    xs:min-h-116 
    lg:min-h-125
  }

  #testimonialId .testimonial-backdrop {
    @apply 
      w-125 
      -top-60 
      -left-80 

      xs:w-100
      xs:h-129
      xs:-top-212

      sm:h-850   
      
      lg:-top-60
      lg:w-125 
    ;
  }

  #testimonialId .testimonial-video-ctrl {
    @apply w-11 h-11 absolute top-8 right-214 z-3
  }

  #testimonialId .testimonial-video-ctrl svg {
    @apply w-10 h-10 cursor-pointer
  }

  #testimonialId .testimonial-quotes {
    @apply bg-white z-5 w-123 min-h-44 py-14.4 px-14.7 flex-col justify-between absolute -bottom-10 xs:left-0 xs:-bottom-0 sm:right-0 lg:-bottom-10 lg:-right-2.5 lg:left-auto
  }

  #testimonialId .testimonial-quotes blockquote {
    @apply text-15xl/tighter font-medium text-skin-gray
  }

  #testimonialId .testimonial-quotes .testimonial-author {
    @apply flex justify-between mt-13.4
  }

  #testimonialId .testimonial-quotes .testimonial-author span {
    @apply text-15xl font-medium text-skin-darkBlue
  }

  #testimonialId .testimonial-quotes .testimonial-author a {
    @apply text-blue-500 text-15xl font-medium 
  }

  #testimonialId .testimonial-media {
    @apply absolute top-0 left-0 bottom-0 right-0 h-130 w-135 z-3 xs:w-full xs:h-122 sm:h-130 lg:w-135 
  } 
  
  .testimonial-media img {
    @apply object-cover w-full h-full absolute top-0 
  }

  .testimonials-thumbnail { 
    @apply flex absolute sm:-bottom-48 lg:-bottom-40 xs:gap-6 lg:gap-1
  }

  .testimonials-thumbnail img {
    @apply h-full w-full object-cover absolute xs:top-12 left-0 lg:top-3
  }

  .home-section-one--right h1 {
    @apply text-30xl font-semibold -tracking-moretight mt-15.5 mb-9 leading-to-tight text-skin-darkBlue xs:mt-15.5 xs:text-36xl lg:text-16xl lg:font-semibold lg:mt-17.5
  }

  .home-section-one--right h6 {
    @apply font-normal mt-4 mb-13.5 text-skin-darkBlue -tracking-moretighter text-5xl xs:text-38xl xs:-tracking-tightest lg:text-7xl/to-tight 
  }
  
  






  /* Section Two */
  .home-section-two {
    @apply pb-0 xs:pt-40 lg:pt-24 w-full
  }

  .h-container-2 {
    @apply h-full w-full px-0 my-0 mx-auto 
  }

  .home-section-two--left {
    @apply flex w-full
  }
  
  .home-section-two--left h2 {
    @apply  -tracking-moretight mt-15.8 mb-4 -ml-3.1 font-semibold text-30xl/none xs:font-bold xs:text-36xl sm:text-7xl lg:text-16xl/none
  }

  .home-section-two--left h2 span {
    @apply font-extralight italic text-30xl xs:text-36xl sm:font-light sm:text-7xl sm:-tracking-extratight lg:text-16xl
  }

  .home-section-two--left h5 {
    @apply font-medium text-39xl -tracking-subtight xs:text-39xl/tight xs:-tracking-subtight xs:my-13.4 sm:text-5xl sm:pr-20 sm:my-14.4
  }

  .home-section-two--left a {
    @apply w-96 h-16 text-white text-2xl font-bold capitalize flex justify-center items-center 
  }

  .home-section-two--right {
    @apply relative w-720 flex items-end
  }

  .home-section-two--right #graph-anim-wrap {
    @apply relative 
  }

  .home-section-two--right .card-wrap {
    @apply absolute w-100 min-h-44
  }

  .home-section-two--right .card-wrap .card-item {
    @apply hidden xs:flex bg-white w-full h-full pt-6.4 pb-14.4 px-14.4 rounded-lg border border-slate-200 shadow-md flex-col
  }

  .home-section-two .card-item-one {
    @apply z-20 bottom-32/2 -left-28/2
  }

  .home-section-two .card-item-two {
    @apply z-20 bottom-56/2 left-1/2
  }

  .home-section-two .card-item-three {
    @apply z-20 top-8/2 right-1/4
  }

  .card-item h6 {
    @apply text-17xl font-semibold -tracking-verytight
  }

  .card-item p {
    @apply text-15xl/very-loose font-normal mt-3.2 text-slate-500
  }

  .home-section-two .card-item-one .card-item::after {
    @apply content-['1'] absolute top-0 -right-23 rounded-full text-skin-darkBlue text-2xl font-bold bg-white shadow-md w-16 h-16 flex justify-center items-center
  }
  
  .home-section-two .card-item-two .card-item::after {
    @apply content-['2'] absolute top-0 -right-23 rounded-full text-skin-darkBlue text-2xl font-bold bg-white shadow-md w-16 h-16 flex justify-center items-center
  }

  .home-section-two .card-item-three .card-item::after {
    @apply content-['3'] absolute top-0 -right-23 rounded-full text-skin-darkBlue text-2xl font-bold bg-white shadow-md w-16 h-16 flex justify-center items-center
  }

  .home-section-two--right #bar-anima--wrap {
    @apply h-780 w-720
  }




  



 /* Section Three */
 .home-section-three {
  @apply pt-14.5 pb-20 bg-return-invested bg-no-repeat
}

.h-container-3 {
  @apply h-full w-full mx-auto my-0 px-7 
}

.home-section-three h2 {
  @apply text-40xl sm:text-7xl -tracking-tightened text-skin-darkBlue font-bold text-center mt-20 mb-10
}

.roi-wrap {
  @apply flex flex-col items-center
}

.roi-wrap h6 {
  @apply mt-16.5 mb-7 text-4xl font-normal text-skin-gray
}

.roi-input {
  @apply text-center w-123.3 xs:w-135.3 flex flex-row items-center space-x-1
}

.roi-input sup {
  @apply text-[3em]/least text-skin-darkBlue font-normal w-8 mr-29 
}

.roi-input input[type="tel"] {
  @apply 
    min-w-0 
    text-7xl

    xs:w-full
    xs:text-16xl 
    xs:text-center 

    sm:text-12xl 
    bg-transparent font-normal font-firma text-skin-darkBlue text-right py-4
}

.roi-dropdown-wrap {
  @apply flex gap-16
}

.roi-dropdown-wrap .wrap-selection {
  @apply flex items-center space-x-2
}

.roi-dropdown-wrap .roi--select-input {
  @apply xs:font-light lg:font-medium text-3xl text-blue-600 font-firma bg-transparent appearance-none outline-none py-4 px-5.4
}

.slider-wrap .slider {
  @apply relative w-183 mx-auto my-16
}

.slider-wrap .slider input[type="range"] {
  @apply w-full h-99.5
}

.roi-investment h6 {
  @apply text-24xl mt-20 mb-6 text-skin-gray font-normal
}

.roi-investment p {
  @apply flex justify-center items-center opacity-100 sm:w-182.3 sm:h-126.4 sm:my-6 lg:h-128.6
}
 
.roi-investment p sup {
  @apply text-[3em]/least text-skin-gray font-normal w-8 mr-29 
}

.roi-investment p span {
  @apply xs:text-16xl lg:text-12xl font-light tracking-tightener text-skin-gray text-right py-4
}

.roi-investment-returns {
  @apply flex flex-col sm:-mt-12
}

.roi-investment-returns div {
  @apply text-2xl font-medium bg-sky-200 text-blue-600 mt-10 w-123 mx-auto py-3 px-4 rounded-md 
}

.roi-investment-returns p {
  @apply text-2xl font-medium text-skin-gray my-8
}

.roi-investment-returns span {
  @apply text-black
}

.roi-investments-overlay {
  @apply h-full absolute top-0 bottom-0 left-0 right-0 backdrop-blur-sm bg-skin-opaque
}

.roi-investments-overlay h3 {
  @apply text-skin-darkBlue font-bold -tracking-tightened mt-15.7 mb-13.7 text-40xl lg:text-18xl 
}
/* Section Three */









  /* Section four */
  .home-section-four {
    @apply sm:pt-20 sm:pb-0 lg:py-20 flex flex-col space-y-16
  }
  .home-section-four .slider-wrapper {
      @apply mb-0 mx-0 w-screen min-h-106 xs:min-h-106 lg:min-h-104 relative bg-white z-20
  }
  .h-container-4 {
    @apply h-full w-full px-10 mx-auto my-0
  }
  .home-section-four .slider-wrapper .slides-wrap {
      @apply inline-flex absolute hover:pause focus:pause
      /* w-22/12 */
  }
  .home-section-four .slider-wrapper .slides {
      @apply flex shrink-0
  }
  .home-section-four .slider-wrapper .slides .slider-item {
      @apply 
      flex 
      justify-center 
      items-center 
      text-center 
      p-14.7 
      mr-8
      bg-white
      border-2 
      border-blue-400 
      rounded-3xl            
      max-w-100 
      min-h-97
      relative
      
      xs:items-end
      /* xs:p-14.7 
      xs:max-w-100 
      xs:min-h-97  */
      
      lg:items-center 
      lg:p-16
      lg:max-w-3xl 
      lg:min-h-98 
  }
  .home-section-four .slider-wrapper .slides .slider-item h4 {
      @apply font-semibold font-firma w-full relative text-left text-34xl/to-tight xs:text-34xl/to-tight lg:text-7xl/to-tight -tracking-extratight text-blue-600
  }
  .home-section-four .slider-wrapper .slides .slider-item h4::before {
      @apply content-["“"] absolute -top-60 left-0 text-9xl font-normal text-blue-600
  }
  /* Section four */








    /* Section five */
    .home-section-five {
      @apply bg-device-section bg-x-axis bg-77% bg-no-repeat pt-20 pb-48 
    }
  
    .h-container-5 {
      @apply h-full w-full px-10 mx-auto my-0
    }
  
    .home-section-five .h-investment-wrap {
      @apply flex relative h-770 w-full 
    }
  
    .home-section-five--left {
      @apply flex-col max-w-2/4 ml-95.5 basis-3/6
    }
  
    .home-section-five--left {
      @apply hidden xl:block
    }

    .h-investment-wrap img {
      @apply relative top-23 
    }
  
    .home-section-five--right {
      @apply flex flex-col items-start lg:w-5/12 lg:p-4 
    }
  
    .home-section-five--right h2 {
      @apply text-40xl sm:text-7xl font-bold mt-16 mb-14
    }
  
    #registrationsStepsId {
      @apply mt-24 w-full
    }
  
    #registrationsStepsId .step-item {
      @apply relative sm:flex sm:justify-start mb-20
    }
  
    #registrationsStepsId .step-item::before {
      @apply content-[''] w-0.5 h-4/5 bg-blue-600 absolute left-5 top-20
    }
  
    #registrationsStepsId .step-item.step-three::before {
      @apply hidden
    }
  
    #registrationsStepsId .step-item .step-item-count::before {
      @apply content-[''] w-24 h-24 absolute -top-210 -left-208 rounded-full
    }
         
    #registrationsStepsId .step-item.step-one .step-item-count::after {
      @apply content-['01'] text-19xl font-semibold text-blue-600
    }
  
    #registrationsStepsId .step-item.step-two .step-item-count::after {
      @apply content-['02'] text-19xl font-semibold text-blue-600
    }
  
    #registrationsStepsId .step-item.step-three .step-item-count::after {
      @apply content-['03'] text-19xl font-semibold text-blue-600
    }
  
    .step-item .step-item-info {
      @apply ml-24
    }
  
    .step-item-info span {
      @apply text-4xl font-semibold
    }
  
    .step-item-info p {
      @apply text-31xl/normal text-skin-gray my-6
    }
  
    .home-section-five--right a {
      @apply w-60
    }
    /* Section five */

    







  /* Section six */
  .home-section-six {
    @apply relative pt-20 pb-60 bg-blue-600 dark:bg-blue-500
  }
  .home-section-six::after {
    @apply 
    /* content-['']  */
    h-790 
    w-780 
    absolute 
    -right-15.9 
    top-40
    lg:bg-security-pattern 
    lg:bg-no-repeat 
    lg:bg-s-axis 
    lg:bg-110% 
    lg:opacity-50
  }
  .h-container-6 {
    @apply h-full w-full px-8 lg:px-10 mx-auto my-0
  }
  .home-section-six--left h2 {
    @apply text-40xl xs:text-32xl text-white font-semibold mt-16 mb-15.5 -tracking-tightened
  }
  .home-section-six--left p {
    @apply text-white my-6 text-41xl/more-loose sm:text-31xl/more-loose font-normal -tracking-supertight lg:text-3xl/more-loose lg:font-light
  }
  .home-section-six--left a {
    @apply text-xl/extra-loosened text-skin-opaque font-semibold uppercase tracking-moretight flex items-center
  }
  .home-section-six--left a svg {
    @apply fill-white 
  }
  .home-section-six--right .card-item {
    @apply flex h-full sm:basis-full xl:basis-4/12 
  }
  .home-section-six--right .card-item .card-item--icon {
    @apply relative mt-12 sm:mt-12 pl-16  
  }
  .home-section-six--right .card-item .card-item--icon::before { 
    @apply
      content-[''] 
      bg-white 
      h-6 
      w-6 
      absolute 
      left-0 
      top-2 
      rounded-md 
      shadow-3xl 
      dark:shadow-5xl
    ;
  }
  .home-section-six--right .card-item h5 {
    @apply text-21xl font-semibold text-white font-firma mb-6
  }
  .home-section-six--right .card-item p {
    @apply text-white/75 text-41xl xs:text-31xl/more-loose sm:mb-6
  }
  /* Section six */









  /** Section Seven **/
  .home-section-seven {
    @apply py-20 mb-40
  }
  .h-container-7 {
    @apply h-full w-full px-10 mx-auto my-0
  }
  .h-section-7-wrap {
    @apply flex flex-col
  }
  .h-section-7-wrap h6 {
    @apply uppercase text-14xl text-skin-darkBlue font-semibold mt-15.6 mb-12
  }
  .step-item .step-item-info {
    @apply w-full
  }
  .disqus {
    @apply flex flex-row absolute 
  }
  .disqus .disqus-q {
    @apply text-6xl sm:text-8xl font-normal -tracking-tightest text-skin-gray
  }
  .disqus .disqus-a {
    @apply text-6xl sm:text-8xl font-normal -tracking-tightest text-skin-darkBlue sm:ml-13.4
  }
  /** Section Seven **/








  /**  Footer  **/
  .container-fc {
    @apply 
      w-full 
      px-8 
      py-0 
      my-0 
      mx-auto
    ;
  }
  .app-reviews {
    @apply 
      grid 
      grid-cols-22 
      gap-16
    ;
  }
  .app-review--card {
    @apply 
      w-full 
      min-h-98 
      bg-white 
      border 
      border-slate-200 
      shadow-lg 
      rounded-3xl 
      py-14.7 
      px-15.8 
    ;
  }
  .top-review--card {
    @apply 
      flex 
      flex-col
      items-start
      justify-between
      mb-8

      xs:flex 
      xs:flex-row
      xs:items-start
      xs:mb-8

    ;
  }
  .top-review--card .r-star-rating {
    @apply 
      flex 
      flex-row
      flex-wrap
      items-start
      justify-start

      xs:flex
      xs:flex-row
      xs:flex-wrap
      xs:items-start
      xs:justify-start

      sm:flex
      sm:flex-col
      sm:items-start
      sm:justify-start
    ;
  }
  .top-review--card a {
    @apply
      mt-8
    ;
  }
  .top-review--card .r-star-rating svg {
    @apply 
      ml-8 
      h-20 
      w-50.4 
    ;
  }
  .top-review--card h3 {
    @apply 
      text-6xl 
      font-semibold
      flex 
      items-end
    ;
  }
  .top-review--card h3 sub {
    @apply 
      contents 
      items-center 
      h-full 
      text-19xl 
      text-skin-lightgray
    ;
  }
  .top-review--card a svg {
    @apply 
      w-48 
      h-20
    ;
  }
  .bottom-review--card a {
    @apply 
      uppercase
    ;
  }
  .bottom-review--card h6 {
    @apply 
      text-21xl 
      font-semibold 
      mb-6 
    ;
  }
  .bottom-review--card p {
    @apply 
      text-10xl/more-loose 
      my-6
    ;
  }
  .bottom-review--card a {
    @apply mt-8 flex justify-start items-center text-xl font-semibold text-skin-lightblue min-h-20
  }
  .bottom-review--card a svg {
    @apply ml-2.9 fill-blue-600 w-5 h-5
  }
  .footer-email--wrap {
    @apply 
      bg-blue-700
      py-32 
      px-4 
      mb-16 
      
      flex
      flex-col
      justify-start 
      
      sm:flex
      sm:flex-row
      sm:items-center
      sm:justify-center
    
  }
  .footer-email--wrap h3 {
    @apply text-5xl/very-loose sm:text-18xl font-bold -tracking-tightened
  }
  .footer_email {
    @apply py-4 pl-7 pr-14.4 w-full rounded-2xl bg-skin-transparentblue relative
  }
  .footer_email input[type="email"] {
    @apply min-h-16 w-full max-w-101 xl:max-w-99 text-15xl
  }
  .footer-menu--wrap h4 {
    @apply text-19xl font-semibold capitalize -tracking-tightened mt-13.7 mb-12
  }
  .footer-menu--wrap {
    @apply mt-40 mb-16
  }
  .footer-menu--wrap a {
    @apply text-42xl
  }
  .footer-menu--wrap div:first-of-type a {
    @apply capitalize
  }
  .footer-menu--wrap ul li {
    @apply text-31xl/more-loose mt-3.2 
  }
  .footer-menu--wrap ul li a {
    @apply text-42xl font-medium text-slate-400
  }
  .footer-social--wrap ul li {
    @apply flex space-x-6 h-full mt-8
  }
  .footer-social--wrap ul li a {
    @apply flex w-6 h-6 fill-skin-gray
  }
  .footer-social--wrap ul li a svg {
    @apply flex h-full fill-skin-gray
  }
  .footer-badge p {
    @apply text-2xl my-6 font-firma font-medium text-slate-600
  }
  /**  Footer  **/





  textarea#comments {
    @apply 
      text-2xl/normal    
    ;
  }
};


@layer utilities {

  .pause {
    animation-play-state: paused;
  }
  /* .text-capitalize {
    text-transform: capitalize;
  } */
  .text-skin-lightblue {
    color: var(--color-light-blue) !important;
  }
  .z-9 {
    z-index: 9 !important;
  }
  .opacity-0 {
    opacity: 0 !important;
  }
};
